<template name="pollForm">

<form>
    <div class="form-group">
        <label>質問</label>
        <input type="text" name="question" class="form-control" placeholder="Your Question">
    </div>

    <div class="form-group">
        <label>選択 #1</label>
        <input type="text" name="choice1" class="form-control" placeholder="選択 #1">
    </div>
    <div class="form-group">
        <label>選択 #2</label>
        <input type="text" name="choice2" class="form-control" placeholder="選択 #2">
    </div>
    <div class="form-group">
        <label>選択 #3</label>
        <input type="text" name="choice3" class="form-control" placeholder="選択 #3">
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block">アンケート新規作成</button>
</form>

</template>
