<template name="pollForm">

<form>
    <div class="row">
      <div class="input-field col s12">
        <input id="question" name="question" type="text" class="validate">
        <label for="question">あなたの質問</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input id="choice1" type="text" class="validate">
        <label for="choice1">選択 #1</label>
      </div>
      <div class="input-field col s4">
        <input id="choice2" type="text" class="validate">
        <label for="choice2">選択 #2</label>
      </div>
      <div class="input-field col s4">
        <input id="choice3" type="text" class="validate">
        <label for="choice3">選択 #3</label>
      </div>
    </div>
    <button type="submit" class="waves-effect waves-light btn">アンケート新規作成</button>
</form>

</template>
